# Git Configuration
# This is a configuration file for Git with useful settings

[user]
	name = Vipul Vikram
	email = vipul.neo@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input

[color]
	ui = auto

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	amend = commit --amend
	uncommit = reset --soft HEAD~
	changes = diff --name-status
